
body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}


ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {

    text-decoration: none;
}

p {

    margin: 0;
}


h4 {
    
    margin: 0;
    font-size: 24px;
}

h1 {

    margin: 0;
    font-weight: 1000;
}


.header {

    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #e5e7e3;
    padding: 16px;
}


.top-content {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background-color: #1f2937;
    color: #e5e7e3;
    padding: 100px 100px;
}

.top-content-left {

    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: flex-end;
}


.image-container {

    display: flex;
    align-items: center;
    background-color: gray;
    padding: 50px 50px;
}



.middle-content {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-box-container {

    display: flex;
    gap: 16px;
}

.blue-box {

    border: solid;
    border-color: #3882F6;
    min-width: 100px;
    min-height: 100px;
    flex-shrink: 0;
}

.image-subtext-container {

    display: flex;
    flex-direction: row;
    gap: 22px;
}

.image-subtext {

    max-width: 100px;
}


.bottom-content {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 30px;
    padding: 150px 150px;
}

/* .quote-container {

    display: flex;
} */



.action-call {

    display: flex;
    justify-content: center;
}

.action-call-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 50px 100px;
    gap: 30px;
}


footer {

    display: flex;
    justify-content: center;
}

