
body {

    display: flex;
    flex-direction: column;
}


.header {

    display: flex;
    justify-content: space-around;

}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {

    text-decoration: none;
}

p {

    margin: 0;
}



.top-content {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top-content-left {

    display: flex;
    flex-direction: column;
}


.image-container {

    display: flex;
    align-items: center;
}



.middle-content {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-box-container {

    display: flex;
    gap: 16px;
}

.blue-box {

    border: solid;
    border-color: #3882F6;
    min-width: 100px;
    min-height: 100px;
    flex-shrink: 0;
}

.image-subtext-container {

    display: flex;
    flex-direction: row;
    gap: 22px;
}

.image-subtext {

    max-width: 100px;
}


.bottom-content {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 30px;
    padding: 150px 150px;
}

/* .quote-container {

    display: flex;
} */



.action-call {

    display: flex;
    justify-content: center;
}

.action-call-container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 50px 100px;
}

